/* Estilos  (Sprint 7) */

input[type="date"].meu-input-estilizado, 
select.meu-input-estilizado {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #2c3e50;
    cursor: pointer;
    transition: border-color 0.3s ease;
    margin-top: 5px;
    box-sizing: border-box; /* Evita que o padding "empurre" o elemento para fora */
}

/* Efeito de foco */
input[type="date"]:focus, 
select.meu-input-estilizado:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
}

/* Ajuste*/
.input-group label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
    text-align: left;
}